### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "/content/drive/MyDrive/Colab Notebooks/Joel/02 PandasHW/HeroesOfPymoli_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
playercount = purchase_data["SN"].unique() #Identify unique SN (screen names) of players and store as 'playercount'
playercount = len(playercount) #Count the unique SNs identified and store as 'playercount'

print("Total Number of Players =",playercount)

Total Number of Players = 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Number of unique items 
uniqueitems = purchase_data["Item ID"].unique() #Identify unique values for Item ID and store as 'uniqueitems'
uniqueitems = len(uniqueitems) #Count the unique values for Item ID and store as 'uniqueitems'

# Average purchase price
avpurchaseprice = purchase_data["Price"].mean()

# Total number of purchases
totalpurchases = purchase_data["Purchase ID"].unique() #Identify unique values for Purchase ID and store as 'totalpurchases'
totalpurchases = len(totalpurchases) #Count the unique values for Purchase ID and store as 'totalpurchases'

# Total revenue
totalrevenue = purchase_data["Price"].sum() #Sum all values in column Price and store as 'totalrevenue'

# Create a summary data frame to hold the results & Optional: give the displayed data cleaner formatting
purchasingsd = pd.DataFrame([uniqueitems, "${0:,.2f}".format(avpurchaseprice), totalpurchases, "${0:,.2f}".format(totalrevenue)], 
                            index=["Number of Unique Items", "Average Purchase Price", "Total Number of Purchases", "Total Revenue"],
                            columns=["Values"])

#Display the summary data frame
purchasingsd

                              Values
Number of Unique Items           179
Average Purchase Price         $3.05
Total Number of Purchases        780
Total Revenue              $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Create dataframe without duplicated SNs
data = [purchase_data["SN"], purchase_data["Gender"]] #Specify SN and Gender as columns of interest
headers = ["SN", "Gender"] #Specify labels for columns of interest
bygender = pd.concat(data, axis=1, keys=headers) #Create a DataFrame with just SN and Gender
bygender = bygender.drop_duplicates() #Drop duplicate SNs

#Calculate total count per gender
bygendercount = bygender.groupby("Gender").count() #Count SNs per Gender
bygendercount.index.name = "Gender"
bygendercount.reset_index(inplace=True)
bygendercount.columns=["Gender","Total Count"] #Edit column names

#Calculate percentages per gender
bygenderpercentages = pd.DataFrame(bygender["Gender"].value_counts(normalize=True) * 100)
bygenderpercentages.index.name = "Index"
bygenderpercentages.reset_index(inplace=True)
bygenderpercentages.columns=["Gender","Percentage of Players"]

#Create a summary data frame to hold the results
genderdemographics = pd.merge(bygendercount, bygenderpercentages, on="Gender", how="outer")

#Format the percentage column
genderdemographics["Percentage of Players"] = pd.Series(['{0:.2f}%'.format(val) for val in genderdemographics["Percentage of Players"]], index = genderdemographics.index)

#Display the results
genderdemographics

                  Gender  Total Count Percentage of Players
0                 Female           81                14.06%
1                   Male          484                84.03%
2  Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Purchase Count by Gender
data = [purchase_data["Purchase ID"], purchase_data["Gender"]] #Specify Purchase ID and Gender as columns of interest
headers = ["Purchase ID", "Gender"] #Specify labels for columns of interest
purchasecountbygender = pd.concat(data, axis=1, keys=headers) #Create a DataFrame with just columns of interest
purchasecountbygender = purchasecountbygender.groupby("Gender").count() #Count SNs per Gender
purchasecountbygender.index.name = "Index"
purchasecountbygender.reset_index(inplace=True)
purchasecountbygender.columns=["Gender","Purchase Count"] #Edit column names

# Average Purchase Price by Gender
data = [purchase_data["Price"], purchase_data["Gender"]] #Specify Price and Gender as columns of interest
headers = ["Price", "Gender"] #Specify labels for columns of interest
averagepurchasepricebygender = pd.concat(data, axis=1, keys=headers) #Create a DataFrame with just columns of interest
averagepurchasepricebygender = averagepurchasepricebygender.groupby("Gender").mean() #Average Price per Gender
averagepurchasepricebygender.index.name = "Index"
averagepurchasepricebygender.reset_index(inplace=True)
averagepurchasepricebygender.columns=["Gender","Average Purchase Price"]

# Total Purchase Value by Gender
data = [purchase_data["Price"], purchase_data["Gender"]] #Specify Price and Gender as columns of interest
headers = ["Price", "Gender"] #Specify labels for columns of interest
totalpurchasepricebygender = pd.concat(data, axis=1, keys=headers) #Create a DataFrame with just columns of interest
totalpurchasepricebygender = totalpurchasepricebygender.groupby("Gender").sum() #Total Purchase Value per Gender
totalpurchasepricebygender.index.name = "Index"
totalpurchasepricebygender.reset_index(inplace=True)
totalpurchasepricebygender.columns=["Gender","Total Purchase Value"]

# Average Total Purchase Per Person by Gender
### First, calculate sum of all purchases per SN
data = [purchase_data["SN"], purchase_data["Price"]] #Specify SN and Price as columns of interest
headers = ["SN", "Price"] #Specify labels for columns of interest
totalpurchasesperperson = pd.concat(data, axis=1, keys=headers) #Create a DataFrame with just columns of interest
totalpurchasesperperson = totalpurchasesperperson.groupby("SN").sum() #Sum all purchases per person

### Second, add Gender information to each SN  
data = [purchase_data["SN"], purchase_data["Gender"]] #Specify SN and Price as columns of interest
headers = ["SN", "Gender"] #Specify labels for columns of interest
avtotalpurchaseperpersonbygender = pd.concat(data, axis=1, keys=headers) #Create a DataFrame with just columns of interest
avtotalpurchaseperpersonbygender = avtotalpurchaseperpersonbygender.drop_duplicates() #Drop duplicate SNs
avtotalpurchaseperpersonbygender = pd.merge(totalpurchasesperperson, avtotalpurchaseperpersonbygender, on="SN", how="outer") #Add Genger to total purchase per person
avtotalpurchaseperpersonbygender = avtotalpurchaseperpersonbygender.groupby("Gender", as_index=False)["Price"].mean()
avtotalpurchaseperpersonbygender.columns=["Gender","Avg Total Purchase per Person"]

#Create a summary data frame to hold the results
purchasinganalysispergender = pd.merge(purchasecountbygender, averagepurchasepricebygender, on="Gender", how="outer")
purchasinganalysispergender = pd.merge(purchasinganalysispergender, totalpurchasepricebygender, on="Gender", how="outer")
purchasinganalysispergender = pd.merge(purchasinganalysispergender, avtotalpurchaseperpersonbygender, on="Gender", how="outer")

#Optional: give the displayed data cleaner formatting
purchasinganalysispergender["Average Purchase Price"] = pd.Series(["${0:,.2f}".format(val) for val in purchasinganalysispergender["Average Purchase Price"]], index = purchasinganalysispergender.index)
purchasinganalysispergender["Total Purchase Value"] = pd.Series(["${0:,.2f}".format(val) for val in purchasinganalysispergender["Total Purchase Value"]], index = purchasinganalysispergender.index)
purchasinganalysispergender["Avg Total Purchase per Person"] = pd.Series(["${0:,.2f}".format(val) for val in purchasinganalysispergender["Avg Total Purchase per Person"]], index = purchasinganalysispergender.index)

#Display the summary data frame
purchasinganalysispergender

                  Gender  ...  Avg Total Purchase per Person
0                 Female  ...                          $4.47
1                   Male  ...                          $4.07
2  Other / Non-Disclosed  ...                          $4.56

[3 rows x 5 columns]

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Generating a dataframe of Ages without duplicated SNs
data = [purchase_data["SN"], purchase_data["Age"]] #Specify SN and Age as columns of interest
headers = ["SN", "Age"] #Specify labels for columns of interest
ages = pd.concat(data, axis=1, keys=headers) #Create a DataFrame with just columns of interest
ages = ages.drop_duplicates() #Drop duplicate SNs
ages = ages.drop(columns="SN") #Drop column SN

#Establish bins for ages
bins = [0,9,14,19,24,29,34,39,999999999999999]
group_names= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#Categorize the existing players using the age bins
ages["Age Group"] = pd.cut(ages["Age"], bins, labels=group_names, include_lowest=True)

#Calculate totals per age group
totalsperages = pd.DataFrame(ages.groupby("Age Group").count())
totalsperages.rename(columns={"Age": "Total Count"}, inplace=True) #Edit column names
totalsperages

#Calculate percentages per age group
percentagesperages = pd.DataFrame(ages["Age Group"].value_counts(normalize=True) * 100)
percentagesperages.rename(columns={"Age Group": "Percentage of Players"}, inplace=True)
percentagesperages.index.name = "Age Group"
percentagesperages.reset_index(inplace=True)
percentagesperages

#Create a summary data frame to hold the results
agessumdataframe = pd.merge(totalsperages, percentagesperages, on="Age Group", how="outer")

#Optional: round the percentage column to two decimal points
agessumdataframe["Percentage of Players"] = pd.Series(['{0:.2f}%'.format(val) for val in agessumdataframe["Percentage of Players"]], index = agessumdataframe.index)

#Display Age Demographics Table
agessumdataframe

  Age Group  Total Count Percentage of Players
0       <10           17                 2.95%
1     10-14           22                 3.82%
2     15-19          107                18.58%
3     20-24          258                44.79%
4     25-29           77                13.37%
5     30-34           52                 9.03%
6     35-39           31                 5.38%
7       40+           12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Make a copy of the original purchase_data dataframe
purchase_data2 = purchase_data

#Bin the purchase_data data frame by age
purchase_data2["Age Ranges"] = pd.cut(purchase_data2["Age"], bins, labels=group_names, include_lowest=True)

#Determine Purchase Count
purchasecountbyage = purchase_data2.groupby("Age Ranges", as_index=False)["Purchase ID"].count()
purchasecountbyage.columns=["Age Ranges","Purchase Count"] #Edit column names

#Average Purchase Price
averagepurchasepricebyage = purchase_data2.groupby("Age Ranges", as_index=False)["Price"].mean()
averagepurchasepricebyage.columns=["Age Ranges","Average Purchase Price"] #Edit column names

#Total Purchase Value
totalpurchasevaluebyage = purchase_data2.groupby("Age Ranges", as_index=False)["Price"].sum()
totalpurchasevaluebyage.columns=["Age Ranges","Total Purchase Value"] #Edit column names

#Avg Total Purchase per Person
### First, calculate sum of all purchases per SN
data = [purchase_data["SN"], purchase_data["Price"]] #Specify SN and Price as columns of interest
headers = ["SN", "Price"] #Specify labels for columns of interest
totalpurchasesperperson = pd.concat(data, axis=1, keys=headers) #Create a DataFrame with just columns of interest

### Second, add Age Ranges information to the "totalpurchasesperperson" dataframe created earlier   
data = [purchase_data2["SN"], purchase_data2["Age Ranges"]] #Specify SN and Age Ranges as columns of interest
headers = ["SN", "Age Ranges"] #Specify labels for columns of interest
averagetotalpurchaseperpersonbyage = pd.concat(data, axis=1, keys=headers) #Create a dataframe with just columns of interest
averagetotalpurchaseperpersonbyage = pd.merge(totalpurchasesperperson, averagetotalpurchaseperpersonbyage, on="SN", how="outer") #Add Genger to total purchase per person
averagetotalpurchaseperpersonbyage = averagetotalpurchaseperpersonbyage.drop_duplicates() #Drop duplicate values
averagetotalpurchaseperpersonbyage = averagetotalpurchaseperpersonbyage.groupby("Age Ranges", as_index=False)["Price"].mean()
averagetotalpurchaseperpersonbyage.columns=["Age Ranges","Avg Total Purchase per Person"] #Edit column names

#Create a summary data frame to hold the results
purchasinganalysisperage = pd.merge(purchasecountbyage, averagepurchasepricebyage, on="Age Ranges", how="outer")
purchasinganalysisperage = pd.merge(purchasinganalysisperage, totalpurchasevaluebyage, on="Age Ranges", how="outer")
purchasinganalysisperage = pd.merge(purchasinganalysisperage, averagetotalpurchaseperpersonbyage, on="Age Ranges", how="outer")

#Optional: give the displayed data cleaner formatting
purchasinganalysisperage["Average Purchase Price"] = pd.Series(["${0:,.2f}".format(val) for val in purchasinganalysisperage["Average Purchase Price"]], index = purchasinganalysisperage.index)
purchasinganalysisperage["Total Purchase Value"] = pd.Series(["${0:,.2f}".format(val) for val in purchasinganalysisperage["Total Purchase Value"]], index = purchasinganalysisperage.index)
purchasinganalysisperage["Avg Total Purchase per Person"] = pd.Series(["${0:,.2f}".format(val) for val in purchasinganalysisperage["Avg Total Purchase per Person"]], index = purchasinganalysisperage.index)

#Display the summary data frame
purchasinganalysisperage

  Age Ranges  Purchase Count  ... Total Purchase Value Avg Total Purchase per Person
0        <10              23  ...               $77.13                         $3.35
1      10-14              28  ...               $82.78                         $2.96
2      15-19             136  ...              $412.89                         $3.04
3      20-24             365  ...            $1,114.06                         $3.05
4      25-29             101  ...              $293.00                         $2.90
5      30-34              73  ...              $214.00                         $2.93
6      35-39              41  ...              $147.67                         $3.60
7        40+              13  ...               $38.24                         $2.94

[8 rows x 5 columns]

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Purchase Count by SN
data = [purchase_data["SN"], purchase_data["Purchase ID"]] #Specify SN and Purchase ID as columns of interest
headers = ["SN", "Purchase ID"] #Specify labels for columns of interest
purchasecountbysn = pd.concat(data, axis=1, keys=headers) #Create a DataFrame with just columns of interest
purchasecountbysn = purchasecountbysn.groupby("SN").count() #Count Purchase IDs per SN
purchasecountbysn.index.name = "Index"
purchasecountbysn.reset_index(inplace=True)
purchasecountbysn.columns=["SN","Purchase Count"] #Edit column names

# Average Purchase Price by SN
### First, calculate sum of all purchases per SN
data = [purchase_data["SN"], purchase_data["Price"]] #Specify SN and Price as columns of interest
headers = ["SN", "Price"] #Specify labels for columns of interest
totalpurchasesperperson = pd.concat(data, axis=1, keys=headers) #Create a DataFrame with just columns of interest

### Second, calculate average    
purchaseaveragebysn = totalpurchasesperperson.groupby("SN").mean() #Average Total Purchases per SN
purchaseaveragebysn.index.name = "Index"
purchaseaveragebysn.reset_index(inplace=True)
purchaseaveragebysn.columns=["SN","Average Purchase Price"] #Edit column names

# Total Purchase Value by SN
data = [purchase_data["SN"], purchase_data["Price"]] #Specify SN and Price as columns of interest
headers = ["SN", "Price"] #Specify labels for columns of interest
totalpurchasesperperson = pd.concat(data, axis=1, keys=headers) #Create a DataFrame with just columns of interest
totalpurchasesperperson = totalpurchasesperperson.groupby("SN").sum() #Sum all purchases per person
totalpurchasesperperson.index.name = "Index" #Create column using row names
totalpurchasesperperson.reset_index(inplace=True) #Reset row names
totalpurchasesperperson.columns=["SN","Total Purchase Value"] #Edit column names

#Create a summary data frame to hold the results
topspenders = pd.merge(purchasecountbysn, purchaseaveragebysn, on="SN", how="outer")
topspenders = pd.merge(topspenders, totalpurchasesperperson, on="SN", how="outer")

#Sort the total purchase value column in descending order
topspenders = topspenders.sort_values("Total Purchase Value", ascending=False, ignore_index=True)

#Optional: give the displayed data cleaner formatting
topspenders["Average Purchase Price"] = pd.Series(["${0:,.2f}".format(val) for val in topspenders["Average Purchase Price"]], index = topspenders.index)
topspenders["Total Purchase Value"] = pd.Series(["${0:,.2f}".format(val) for val in topspenders["Total Purchase Value"]], index = topspenders.index)

#Display a preview of the summary data frame including just the Top 5 spenders
topspenders.iloc[0:5,]

            SN  Purchase Count Average Purchase Price Total Purchase Value
0    Lisosia93               5                  $3.79               $18.96
1  Idastidru52               4                  $3.86               $15.45
2   Chamjask73               3                  $4.61               $13.83
3       Iral74               4                  $3.40               $13.62
4  Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Retrieve the Item ID, Item Name, and Item Price columns
data = [purchase_data["Item ID"], purchase_data["Item Name"], purchase_data["Price"]] #Specify Item ID, Item Name, and Price as columns of interest
headers = ["Item ID", "Item Name", "Item Price"] #Specify labels for columns of interest
popularitems = pd.concat(data, axis=1, keys=headers) #Create a DataFrame with just columns of interest

#Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
### Purchase Count by Item
purchasecountbyitem = popularitems.iloc[:,[0,2]] #Select columns Item ID and Price to work with
purchasecountbyitem = purchasecountbyitem.groupby("Item ID").count() #Count all purchases per item
purchasecountbyitem.index.name = "Index" #Create column using row labels
purchasecountbyitem.reset_index(inplace=True) #Reset row labels
purchasecountbyitem.columns=["Item ID","Purchase Count"] #Edit column labels

### Total Purchase Value by Item
totalpurchasevaluebyitem = popularitems.iloc[:,[0,2]] #Select columns Item ID and Price to work with
totalpurchasevaluebyitem = totalpurchasevaluebyitem.groupby("Item ID").sum() #Sum all purchases per item
totalpurchasevaluebyitem.index.name = "Index" #Create column using row labels
totalpurchasevaluebyitem.reset_index(inplace=True) #Reset row labels
totalpurchasevaluebyitem.columns=["Item ID","Total Purchase Value"] #Edit column labels

#Create a summary data frame to hold the results
popularitems = pd.merge(popularitems, purchasecountbyitem, on="Item ID", how="outer")
popularitems = pd.merge(popularitems, totalpurchasevaluebyitem, on="Item ID", how="outer")
popularitems = popularitems.drop_duplicates("Item ID") #Remove duplicates based on Item ID
popularitems = popularitems.iloc[:,[0,1,3,2,4]] #Rearrange the order of the columns

#Sort the purchase count column in descending order
popularitems = popularitems.sort_values("Purchase Count", ascending=False, ignore_index=True)

#Optional: give the displayed data cleaner formatting
popularitems["Item Price"] = pd.Series(["${0:,.2f}".format(val) for val in popularitems["Item Price"]], index = popularitems.index)
popularitems["Total Purchase Value"] = pd.Series(["${0:,.2f}".format(val) for val in popularitems["Total Purchase Value"]], index = popularitems.index)

#Display a preview of the summary data frame including just the Top 10 most popular items
popularitems.iloc[0:10,]

   Item ID  ... Total Purchase Value
0       92  ...               $59.99
1      178  ...               $50.76
2      108  ...               $31.77
3       82  ...               $44.10
4      145  ...               $41.22
5      132  ...               $28.99
6       19  ...                $8.16
7      103  ...               $34.80
8       59  ...               $33.84
9       34  ...               $17.76

[10 rows x 5 columns]

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
#Sort the above table by total purchase value in descending order
### Regenerate table without data formatting
data = [purchase_data["Item ID"], purchase_data["Item Name"], purchase_data["Price"]] #Specify Item ID, Item Name, and Price as columns of interest
headers = ["Item ID", "Item Name", "Item Price"] #Specify labels for columns of interest
popularitems = pd.concat(data, axis=1, keys=headers) #Create a DataFrame with just columns of interest
popularitems = pd.merge(popularitems, purchasecountbyitem, on="Item ID", how="outer")
popularitems = pd.merge(popularitems, totalpurchasevaluebyitem, on="Item ID", how="outer")
popularitems = popularitems.drop_duplicates("Item ID") #Remove duplicates based on Item ID
popularitems = popularitems.iloc[:,[0,1,3,2,4]] #Rearrange the order of the columns
### Sort
popularitems = popularitems.sort_values("Total Purchase Value", ascending=False, ignore_index=True)

#Optional: give the displayed data cleaner formatting
popularitems["Item Price"] = pd.Series(["${0:,.2f}".format(val) for val in popularitems["Item Price"]], index = popularitems.index)
popularitems["Total Purchase Value"] = pd.Series(["${0:,.2f}".format(val) for val in popularitems["Total Purchase Value"]], index = popularitems.index)

#Display a preview of the data frame including just the Top 5 highest value generating items
popularitems.iloc[0:5,]

   Item ID  ... Total Purchase Value
0       92  ...               $59.99
1      178  ...               $50.76
2       82  ...               $44.10
3      145  ...               $41.22
4      103  ...               $34.80

[5 rows x 5 columns]